#header {
  border-radius: 5px;
  z-index: 1;
  position: fixed;
  width: 99%;
  margin-top: 10px;
  height: 60px;
  background-color: #004D6F;
  margin-bottom: 10px; }

#title {
  float: left;
  margin-left: 8px;
  font-family: Verdana;
  color: white; }

.right {
  position: relative;
  float: right;
  margin-top: 80px;
  width: 88%;
  margin-bottom: 10px;
  background-color: #48CE81; }

.left {
  position: relative;
  float: left;
  background-color: #483981;
  margin-bottom: 10px;
  width: 11%;
  margin-top: 80px; }

div {
  border-radius: 5px; }
